* {
  border: 2px solid red;
}

body {
  background-color: purple;
  padding: 10px;
}

h1 {
  margin: 15px;
  color: white;
  font-style: italic;
  text-align: left;
}

.oblique {
  padding: 10px;
  margin: 5px;
  border: 5px solid green;
  font-style: oblique;
  text-align: right;
}

h2 {
  color: black;
  font-style: italic;
  text-align: center;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.5px;
}

li {
  color: tan;
}

a {
  color: aqua;
}

.golden {
  color: goldenrod;
}

img {
  width: 40%;
  height: auto;
}

div {
  padding: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: #eeeeee;
}

.introduction {
  background-color: #548ca8;
}

.main-content {
  background-color: #476072;
}

.contact-us {
  background-color: #334257;
}

.highlight {
  background-color: yellow;
}
